.checkstyle
.classpath
.project
.settings/
target/
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
dependency-reduced-pom.xml
finddups.iml
